<div class="side-header">
  <div class="side-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <a href="#" class="create-chat">チャットを作成する</a>
  
</div>

<div class="side-room">
  <div class="room-name">
    <a href="#">hogehoge</a>
  </div>
  <div class="room-name">
    <a href="#">mohumohu</a>
  </div>
</div>